In [83]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
dbz = pd.read_csv("datasets_184338_413287_Dragon_Ball_Data_Set.csv") 
dbz

,Character,Power_Level,Saga_or_Movie,Dragon_Ball_Series
0,Goku,10,Emperor Pilaf Saga,Dragon Ball
1,Bulma,1.5,Emperor Pilaf Saga,Dragon Ball
2,Bear Thief,7,Emperor Pilaf Saga,Dragon Ball
3,Master Roshi,30,Emperor Pilaf Saga,Dragon Ball
4,Oolong,5,Emperor Pilaf Saga,Dragon Ball
...,...,...,...,...
1239,Goku (MSSJ with SSJG's power),"22,400,000,000,000",Movie 14: Battle of Gods,Dragon Ball Z
1240,Goku (SSJG),"224,000,000,000,000",Movie 14: Battle of Gods,Dragon Ball Z
1241,Goku,"44,800,000,000",Movie 14: Battle of Gods,Dragon Ball Z
1242,"Beerus (full power, never shown)","896,000,000,000,000",Movie 14: Battle of Gods,Dragon Ball Z
1243,"Whis (full power, never shown)","4,480,000,000,000,000",Movie 14: Battle of Gods,Dragon Ball Z

In [84]:
dbz.dtypes

Character             object
Power_Level           object
Saga_or_Movie         object
Dragon_Ball_Series    object
dtype: object

In [85]:
dbz.Power_Level = pd.Series(dbz.Power_Level, dtype="float")
dbz.dtypes
#dbz.to_numeric(dbz.Power_Level, downcast='float')

Character             object
Power_Level           object
Saga_or_Movie         object
Dragon_Ball_Series    object
dtype: object

In [86]:
dbz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1244 entries, 0 to 1243
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Character           1244 non-null   object
 1   Power_Level         1244 non-null   object
 2   Saga_or_Movie       1244 non-null   object
 3   Dragon_Ball_Series  1244 non-null   object
dtypes: object(4)
memory usage: 39.0+ KB

In [78]:
#plt.figure()
#dbz.plot(x='Saga_or_Movie',y=dbz.max(pow),title='niv max par Arc')
#plt.show()